.home-main-container .developmentListContainer {
    display: flex;
    justify-content: end;
}


@media (max-width:768px) {

    .home-main-container .developmentListContainer {
        flex-direction: column;
    }

    .home-main-container .developmentListContainer>div {
        margin-left: 0;
    }
}

@media (max-width:1200px) {
    .home-main-container .developmentListContainer {
        margin-top: 200px;
        justify-content: start;
        
    }

    .home-main-container .developmentListContainer>div:nth-child(1) {
        margin: 0;
    }
}

.awards-section .ratings>p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: var(--primary-color);

}

.awards-section {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20%;
}

@media (max-width:768px) {
    .awards-section {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

.awards-section .awards {
    /* flex: 2; */
}

.awards-section .ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: 1; */
}

.awards-section .ratings>h1 {
    font-size: 140px;
    font-weight: 700;
    letter-spacing: -2;
    line-height: 140px;
    margin-bottom: 20px;
}

.awards-section .ratings>div {
    display: flex;
}

.awards-section .ratings>div>.MuiSvgIcon-root {
    color: rgb(255, 184, 0);
    font-size: 45px;
    flex: 1;
}

@media (max-width:900px) {
    .awards-section .ratings>h1 {
        font-size: 120px;
        line-height: 140px;
    }

    .awards-section .ratings>div>.MuiSvgIcon-root {
        font-size: 35px;
    }

    .awards-section .ratings>p {
        font-size: 16px;
    }

}

.home-main-container .crafting-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:768px) {
    .home-main-container .crafting-section {
        flex-direction: column;
        gap: 20px;
    }

}

.home-main-container .crafting-section>div {

    flex: 1;
    /* border: 1px solid red; */
}

.home-main-container .crafting-section img {
    width: 570px;
    /* width: 100%; */
    flex: 1;
}

@media (max-width:1200px) {

    .home-main-container .crafting-section img {
        width: 500px;
    }
}

@media (max-width:900px) {

    .home-main-container .crafting-section img {
        width: 350px;
    }
}



.estimation-section {
    background-color: var(--secondary-color);
}

.estimation-section>section {
    display: flex;
}

@media(max-width:768px) {
    .estimation-section>section {
        flex-direction: column;
    }
}

.estimation-section>section>h2 {
    flex: 1;
    z-index: 1;
}

.estimation-section>section>div {
    flex: 1;
    z-index: 2;
}

.home-main-container .AMJ-section {
    background-color: #ffffff;
    padding: 70px 70px 0;
}

.home-main-container .AMJ-section div:nth-child(1) {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}

.home-main-container .AMJ-section>img {
    width: 100%;
}



.home-main-container .soundly-section {
    padding: 70px 70px 30px;
    background-color: #ffffff;
    display: flex;
    gap: 200px;
}

.home-main-container .soundly-section>div {
    flex: 1;
}

.home-main-container .soundly-section>.image-container {
    position: relative;
    flex: 1;
    width: 100%;
}

.home-main-container .soundly-section>div>img {
    display: block;
    flex: 1;
    bottom: 0;
    right: -140px;
    bottom: -30px;
    width: 750px;
    position: absolute;
}

@media (max-width:1200px) {
    .home-main-container .soundly-section>div>img {
        right: -80px;
        width: 500px;
    }

    .home-main-container .soundly-section {
        gap: 120px;
    }

    .home-main-container .soundly-section {
        padding: 70px 70px 30px;
    }
}

@media (max-width:900px) {
    .home-main-container .soundly-section>div>img {
        position: relative;
        left: 0;
        right: 0;
        /* right: -160px; */
        /* width: 600px; */
        width: 100%;
    }

    .home-main-container .soundly-section {
        gap: 0px;
        flex-direction: column;
    }

    .home-main-container .soundly-section {
        padding: 70px 70px 30px;
    }
}

.home-main-container .services-section {
    display: flex;
}

@media (max-width:900px) {
    .home-main-container .services-section {
        flex-direction: column;
    }

}

.home-main-container .services-section>h2 {
    flex: 1;
}

.home-main-container .services-section>div {
    flex: 1;
}

.expertise-section .expertise {
    display: flex;
}

@media (max-width:768px) {
    .expertise-section .expertise {
        flex-direction: column;
    }
}

.expertise-section .expertise>div {
    /* display: flex; */
}

.expertise-section .expertise>.expertiseList {
    /* border: 1px solid red; */
    flex: 1;
}

.expertise-section .expertise>.expertiseDetails {
    flex: 1;
}

.expertise-section .expertise>.expertiseDetails>p:nth-child(1) {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

.home-main-container .insights-section>div {
    display: flex;
}

.home-main-container .insights-section>div>div {
    flex: 1;

}

.home-main-container .insights-section .insights-list {
    display: grid;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* padding: 30px 40px 30px 0; */
}