.services-main-container .consultation-section {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.services-main-container .consultation-section>div {
    flex: 1;
}

.services-main-container .consultation-section>div>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.services-main-container .consultation-section>div>div:nth-child(1) .MuiSvgIcon-root {
    font-size: 20px;
}

.services-main-container .consultation-section>div>div li {
    font-size: 14px;
    list-style: none;
    font-weight: 600;
    line-height: 20px;
}

.services-main-container .consultation-section>div>div li:nth-last-child(1) {
    color: var(--primary-color);
}

.services-main-container .consultation-section ul {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 20px; */

}

@media(max-width:1200px) {
    .services-main-container .consultation-section ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:768px) {
    .services-main-container .consultation-section {
        flex-direction: column;
        align-items: center;
    }

}

.services-main-container .consultation-section ul li {
    font-weight: 400;
    list-style-position: inside;
}

.services-main-container .consultation-section form {
    border-radius: 15px;
    margin-left: auto;
    max-width: 430px;
    padding: 40px;
    background: #fff;
    box-shadow: 7px 1px 100px rgba(0, 0, 0, .1);
}

/* .services-main-container .consultation-section form input:after {
    background: #14ffff;
    content: "remme";
    display: block;
    height: 2px;
    position: absolute;
    top: 48px;
    width: 100px;
    top: 43px;
} */

.services-main-container .consultation-section form input {
    display: block;
    width: 100%;
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    border-radius: 0;
    color: #314252;
    font-family: Poppins, sans-serif;
    padding: 0;
}

.services-main-container .consultation-section form label {
    font-size: 13px;
    line-height: 22px;

}

.services-main-container .consultation-section form p {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.services-main-container .consultation-section form input[type=checkbox] {

    appearance: none;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, .25);
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    width: 1em;
    float: left;
    margin-right: 1.5em;
    border-radius: 0.25em;
    margin-top: 0px;
}

/* @media (min-width :575px) and (max-width: 673px) {
    .services-main-container .primary-service-section>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        margin-top: 100px;

    }
} */

.services-main-container .primary-service-section>div {
    grid-column-gap: 24px;
    -webkit-column-gap: 24px;
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
}

@media (max-width:993px) {
    .services-main-container .primary-service-section>div {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 70px;

    }

}

@media (max-width:768px) {
    .services-main-container h2 {
        text-align: center;
    }
}

@media (max-width:576px) {
    .services-main-container .primary-service-section>div {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;

    }
}

.technology-slider-heading {
    color: #14ffff;
    font-size: 60px;
    margin: 30px;
}

@media(max-width:768px) {
    .technology-slider-heading {
        font-size: 45px;
        margin: 20px;
    }
}
@media(max-width:576px) {
    .technology-slider-heading {
        font-size: 30px;
        margin: 10px;
    }
}
.featured-heading {
    font-size: 100px;
}

@media(max-width:768px) {
    .featured-heading {
        font-size: 80px;
    }
}
@media(max-width:576px) {
    .featured-heading {
        font-size: 60px;
    }
}